body {
	background-color: rgb(240, 240, 240);
	
	margin: 75px auto 75px auto;

	text-align: center;
	font-family: Arial;
	font-size: 10pt;
}

.stripe {
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(170, 170, 170);
	border-bottom: 1px solid rgb(170, 170, 170);

	margin: 0;
	padding: 10px 0 10px 0;

	min-width: 550px;
	min-height: 320px;
}

.container {	
	margin: 0 auto 0 auto;
	text-align: left;
	width: 500px;
}

.form h1, .status h1 {
	text-align: right;
	font-size: 20pt;
	border-bottom: 1px solid black;
}

.form label {
	display: block;
	margin: 25px auto 5px auto;
	font-weight: bold;
	font-size: 11pt;
}

.form input {
	display: block;
}

.form #submit {
	margin: 50px 0 auto auto;
}

.warn {
	color: red;
}

#overwritebox {
	display: none;
	color: rgb(255, 0, 0);
	font-weight: bold;
}

#overwritebox label {
	color: rgb(0, 0, 0);
}

#overwrite {
	display: inline;
	margin: auto;
}