<!DOCTYPE HTML>
<html>
<head>
	<title>Gen Art Hack Party</title>

	<link rel="stylesheet" type="text/css" href="/resources/style.css">

	<script type="text/javascript" src="/resources/jquery.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {
		var pieces = {{ .PieceMap }};

		function checkTitle(title) {
			for(var key in pieces) {
				if(key == title) {
					$("#overwritebox").show();
					return;
				}
			}

			$("#overwritebox").hide();
		}

		$('#title').bind('keyup', function (event) {
			checkTitle($("#title").val());
		});

		$('#title').bind('keypress', function (event) {
			var regex = new RegExp("^[a-zA-Z0-9_.]$");
			var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
			if(!regex.test(key) && (event.charCode > 31)) {
				$(".warn").show();
				event.preventDefault();
			} else {
				$(".warn").hide();
			}
		});

		checkTitle($("#title").val());
	});
	</script>
</head>
<body>
	<div class="stripe">
		<div class="form container">
			<h1>Submit</h1>

			<form action="/submit" method="post" enctype="multipart/form-data">
				<label for="title">Piece Title</label>
				<input type="text" id="title" name="title" size="40" placeholder="Title" />
				<span class="warn" style="display: none;">Title can only contain [a-zA-Z0-9_. ]</span>

				<label for="file">File</label>
				<input type="file" id="file" name="file" />

				<div id="overwritebox">
					<label for="overwrite">Overwrite?!</label>
					<p>STOP! Check this only if you want to overwrite an existing project</p>
					<p><input style="display: inline; margin: auto;" type="checkbox" id="overwrite" name="overwrite" value="true" /> Confirm Overwrite</p>
				</div>

				<input type="submit" id="submit" value="Submit" />
			</form>
		</div>
	</div>
</body>
</html>
